{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <h1>
                <span>Picture creation</span>
                <a href="{{ path('_index') }}" class="btn btn-default pull-right d-inline-block">Back to the list</a>
            </h1>
            <br>

            {{ form_start(form) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-primary d-inline">Create</button>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $(':input[type="submit"]').prop('disabled', true);
        });


        $('#appbundle_picture_imageFile_file').bind('change', function() {

            var sFileName = this.files[0].name;
            var sFileExtension = sFileName.split('.')[sFileName.split('.').length - 1].toLowerCase();
            var iFileSize = this.files[0].size;

            if (!(sFileExtension === "jpg" || sFileExtension === "jpeg" || sFileExtension === "png") || iFileSize > 1048576)
                $(':input[type="submit"]').prop('disabled', true);
            else
                $(':input[type="submit"]').prop('disabled', false);
        });
    </script>
{% endblock %}